@font-face {
  font-family: 'playfair';
  src: url(../Fonts/playfair/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: 'bebas';
  src: url(../Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: 'josefin_sans';
  src: url(../Fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: 'RobotoMono';
  src: url(../Fonts/RobotoMono/RobotoMono-SemiBold.ttf);
}

@font-face {
  font-family: 'Anton';
  src: url(../Fonts/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: 'MajorMonoDisplay';
  src: url(../Fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Manrope';
  src: url(../Fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

#black-theme-frontPage {
  .frontMain {
    background-color: #222222 !important;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-elements {
    position: absolute;
    top: 70px;
    left: -35px;
    color: #92929294;
    // color: rgba(146, 146, 146, 0.51);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transform: rotate(270deg);
  }

  .mainName {
    text-align: center;
    text-transform: capitalize !important;
    user-select: none;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anton;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 105px;
  }

  .mainGreeting {
    color: #929292;
    text-align: center;
    font-family: MajorMonoDisplay;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;
    // animation: moveRight 2s;
    user-select: none;
    margin-bottom: 30px;
  }

  @keyframes moveRight {
    0% {
      transform: translateX(-500px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .mainRole {
    font-family: 'bebas';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: right;
    color: #929292;
    animation: moveLeft 2s;
    user-select: none;
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(500px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .backgroundHeadingfront {
    position: absolute;
    text-transform: uppercase !important;
    font-size: 2000%;
    color: #2e2e2e;
    font-weight: 900;
    top: 0;
    opacity: 0.5;
    left: 0;
    height: 70vh;
    margin-bottom: -70vh;
    font-family: 'josefin_sans';
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    animation: moveup 2s;
  }

  @keyframes moveup {
    0% {
      top: 200px;
    }

    100% {
      top: 0;
    }
  }

  .frontPagethreenameMain,
  .main__mouse {
    z-index: 1;
  }

  .connect__marker {
    position: absolute;
    top: 150px;
    right: 212px;
    z-index: 2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #929292;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2),
      inset 0 -10px 10px 0 #e0e2e5;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), inset 0 -10px 10px 0 #e0e2e5;
  }

  .main__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;
  }

  .main__circle {
    position: absolute;
    top: -160px;
    border-radius: 50%;
    background-image: -webkit-radial-gradient(50% 99%,
        rgba(255, 255, 255, 0) 51%,
        rgba(255, 255, 255, 0.3) 99%);
    background-image: -o-radial-gradient(50% 99%,
        rgba(255, 255, 255, 0) 51%,
        rgba(255, 255, 255, 0.3) 99%);
    background-image: radial-gradient(50% 99%,
        rgba(255, 255, 255, 0) 51%,
        rgba(255, 255, 255, 0.3) 99%);
    -webkit-animation: circle1 1s forwards;
    animation: circle1 1s forwards;
    opacity: 0;
  }

  .main__circle:first-child {
    right: calc(50% - 1080px);
    z-index: 3;
    width: 800px;
    height: 800px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .main__circle:nth-child(2) {
    right: calc(50% - 1180px);
    z-index: 2;
    width: 1000px;
    height: 1000px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .main__circle:nth-child(3) {
    right: calc(50% - 1280px);
    z-index: 1;
    width: 1200px;
    height: 1200px;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }

  @-webkit-keyframes phone {
    0% {
      -webkit-transform: translateX(20%) rotate(20deg);
      transform: translateX(20%) rotate(20deg);
      opacity: 0;
    }

    30% {
      opacity: 0.7;
    }

    70% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(0) rotate(0);
      transform: translateX(0) rotate(0);
      opacity: 1;
    }
  }

  @keyframes phone {
    0% {
      -webkit-transform: translateX(20%) rotate(20deg);
      transform: translateX(20%) rotate(20deg);
      opacity: 0;
    }

    30% {
      opacity: 0.7;
    }

    70% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(0) rotate(0);
      transform: translateX(0) rotate(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes circle1 {
    0% {
      -webkit-transform: translate(10%, -20%);
      transform: translate(10%, -20%);
      opacity: 0;
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes circle1 {
    0% {
      -webkit-transform: translate(10%, -20%);
      transform: translate(10%, -20%);
      opacity: 0;
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .frontMain {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .frontMain {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .GationBar {
    position: absolute;
    left: 50%;
    bottom: 18px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    color: #929292;
    gap: 10px;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #929292;
    padding: 7px;
    border-radius: 22px;
    animation: slideIn 2s ;
    backdrop-filter: blur(100px);
  }
  .opa , .AlParentProjects{
    animation: slideIn 2s ;

  }
  @keyframes slideIn {
    from {
     opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .GationBarOne:focus{
    opacity: 0;
  }
  
  
  
  

  .GationBarOne {
    padding: 5px 9px;
    border-radius: 29px;
  }

  .GationBarOne:hover {
    background-color: #929292 !important;
    color: #222222 !important;
    cursor: pointer;
  }
  .contactI{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 50%;
  }

  .main__mouse {
    position: absolute;
    left: 50%;
    bottom: 48px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 32px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }

  .main__mouse:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4px;
    height: 12px;
    border-radius: 2px;
    background: #929292;
    -webkit-animation: mouse 2s linear infinite;
    animation: mouse 2s linear infinite;
  }

  .main__mouse:hover {
    opacity: 0.85;
  }

  @-webkit-keyframes mouse {
    25% {
      -webkit-transform: translate(-50%, 2px);
      transform: translate(-50%, 2px);
    }

    50% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

    75% {
      -webkit-transform: translate(-50%, -2px);
      transform: translate(-50%, -2px);
    }

    100% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }

  @keyframes mouse {
    25% {
      -webkit-transform: translate(-50%, 2px);
      transform: translate(-50%, 2px);
    }

    50% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

    75% {
      -webkit-transform: translate(-50%, -2px);
      transform: translate(-50%, -2px);
    }

    100% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }

  @media only screen and (max-width: 1024px) {
    .backgroundHeadingfront {
      font-size: 1800%;
    }
  }

  @media only screen and (max-width: 924px) {
    .backgroundHeadingfront {
      font-size: 1600%;
    }
  }

  @media only screen and (max-width: 824px) {
    .backgroundHeadingfront {
      font-size: 1400%;
    }
  }

  @media only screen and (max-width: 724px) {
    .backgroundHeadingfront {
      font-size: 1200%;
    }
  }

  @media only screen and (max-width: 650px) {
    .backgroundHeadingfront {
      font-size: 1000%;
    }

    .mainName {
      font-size: 80px;
      line-height: 75px;
    }

    .mainGreeting {
      font-size: 20px;
    }

    .mainRole {
      font-size: 30px;
    }

    #nav-elements {
      top: 52px;
      left: -24px;
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 450px) {

    .mainName {
      font-size: 70px;
      line-height: 55px;
    }

    .mainGreeting {
      font-size: 15px;
      margin-bottom: 15px;
    }

    #nav-elements {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 450px) {
    .backgroundHeadingfront {
      font-size: 500%;
    }

    .mainName {
      font-size: 60px;
      line-height: 45px;
    }
  }
}

#white-theme-frontPage {
  .frontMain {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainName {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 160px;
    text-align: center;
    color: #000000;
    // transform: translate(-50%, -50%);
  }

  .mainName::first-letter {
    text-transform: capitalize;
  }

  .mainGreeting {
    font-family: 'bebas';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    color: #000000;
    margin-bottom: -8px;
  }

  .mainRole {
    font-family: 'bebas';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: right;
    color: #000000;
  }

  .backgroundHeadingfront {
    position: absolute;
    text-transform: uppercase !important;
    font-size: 2000%;
    color: #f1f1f1;
    font-weight: 900;
    top: 0;
    opacity: 0.5;
    left: 0;
    height: 70vh;
    margin-bottom: -70vh;
    font-family: 'josefin_sans';
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .frontPagethreenameMain {
    z-index: 1;
  }

  .frontMain {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .frontMain {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @media only screen and (max-width: 1024px) {
    .backgroundHeadingfront {
      font-size: 1800%;
    }
  }

  @media only screen and (max-width: 924px) {
    .backgroundHeadingfront {
      font-size: 1600%;
    }
  }

  @media only screen and (max-width: 824px) {
    .backgroundHeadingfront {
      font-size: 1400%;
    }
  }

  @media only screen and (max-width: 724px) {
    .backgroundHeadingfront {
      font-size: 1200%;
    }
  }

  @media only screen and (max-width: 650px) {
    .backgroundHeadingfront {
      font-size: 1000%;
    }

    .mainName {
      font-size: 80px;
      line-height: 75px;
    }

    .mainGreeting {
      font-size: 30px;
    }

    .mainRole {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 450px) {
    .backgroundHeadingfront {
      font-size: 900%;
    }

    .mainName {
      font-size: 70px;
      line-height: 55px;
    }
  }

  @media only screen and (max-width: 450px) {
    .backgroundHeadingfront {
      font-size: 680%;
    }

    .mainName {
      font-size: 60px;
      line-height: 45px;
    }
  }
}