@import './frontSection.scss';
@import './splash.scss';

* {
  margin: 0 auto;
  scroll-behavior: calc(2sec);
  scroll-behavior: calc(2sec);
  transition: 0.3s all ease-in-out;
}
*::-webkit-scrollbar {
  display: none;
}
*::selection {
  color: #ffcf2b;
  background: #262626;
}
