*{
    margin: 0 auto;
}
#frontpage-main{
    .black-theme{
        background-color:  #000000 !important;
        height: 100vh;
        width: 100%;
        color: #ffffff;
    }
    .white-theme{
        background-color:  #ffffff;
        height: 100vh;
        width: 100%;
        color: #000000;
    }

}